@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Heebo&family=Poppins:wght@500&family=Roboto+Condensed&family=Roboto:wght@900&family=Titillium+Web:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    background-color: #fbdbc7;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: #944b50;
}
.nav-bar h1 {
    position: relative;
    left :60px;
}
.nav-bar-ele {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap:20px;
    width: 30%;
}

#category:hover{
    background-color: rgb(223, 217, 217);
    box-shadow: 5px 5px rgb(63, 63, 63);
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}
.category-div {
    position: relative;
    right: 90px;
    top:120px;
    opacity: 0;
    padding: 10px;
    height: 200px;
    width: 250px;
    font-size: 16px;
    background-color: #d7d5d5;
    display: grid;
    list-style-type: none;
    overflow: scroll;
    
} 
.area-div {
    position: relative;
    list-style-type: none;
    right: 130px;
    top:150px;
    opacity: 0;
    padding: 10px;
    height: 200px;
    font-size: 16px;
    background-color: #d7d5d5;
    display: grid;
    grid-template-columns: 200px;
    overflow: scroll;
}
#area:hover {
    background-color: rgb(223, 217, 217);
    box-shadow: 5px 5px rgb(63, 63, 63);
    padding: 5px;
    border-radius: 3px;;
}

.nav-bar-ele-active {
    opacity: 1;
    cursor: pointer;
}


#input-box {
    background-color:  #944b50;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: 20px 40px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 80px;
    margin: 20px;
}
#input-box > h1 {
    font-size: 50px;
    margin-bottom:5px;
}
#input-box > p{
    font-size: 20px;
}

.input-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.input-field> input[type='text'] {
    width: 250px;
    border-radius: 3px;
    padding: 12px;
    outline: none;
    background: #fbdbc7;
    outline: none;
    border:0;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;

}
.input-field > input:focus {
    background-color: rgb(223, 217, 217);
    box-shadow: 5px 5px rgb(63, 63, 63);
}
.input-field .placeholder {
    position: absolute;
    left: 12px;
    color: rgb(131, 128, 128);
    top: 77%;
    transform:translateY(-50%);
    
}
 .input-field input.value-entered+ .placeholder,
input:focus + .placeholder {
    top: -2px;
    font-size: 14px;
    left: 0px;
    color: #f3efef;
    transition: top 0.2s ease;
}

/* Random Meal Section*/
.random-meal-div {
    background-color:   #944b50;
    height: 500px;
    width: 500px;
    margin: 20px 40px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 80px;
    display: flex;
    text-align: center;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* text-decoration: overline; */
    
}
#random-meal-image {
    height: 180px;
    width: 125%;
    cursor: pointer;
    border-radius: 6px;
    transition: 200ms ease-in-out;
}
#random-meal-image-div:hover img {
    transform: scale(1.2)
}
#random-meal-image-div {
    background-color: #d7d5d5;
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 20px 20px;
    /* padding: 40px 20px 10px; */
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 20px;
    overflow: hidden;
    box-shadow: 5px 5px rgb(63, 63, 63);
}
#random-meal-image-div  p {
    font-size: 15px;
}


#random-meal-btn {
    height: 60px;
    width: 150px;
    border-radius: 3px;
    border: 0;
    padding: 6.5px;
    background-color: #fbdbc7;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 5px 5px rgb(63, 63, 63);
}


#random-meal-btn:hover {
    background-color: rgb(232, 225, 225);
}
.options {
    height: 60px;
    width: 60px;
    position: relative;
    left: 9em;
    transform: rotate(90deg);
}
#random-meal-ingredients-btn {
    height: 60px;
    width: 150px;
    border-radius: 3px;
    border: 0;
    padding: 6.5px;
    background-color: #fbdbc7;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 5px 5px rgb(63, 63, 63);
}
#random-meal-ingredients-btn:hover {
    background-color: rgb(232, 225, 225);
}

#random-meal-ingredients {
    background-color: #d7d5d5;
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-rows:150px 20px ;
    justify-content: center;
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 189px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 6px  rgb(112, 108, 108);
    border-style:double;
}
#close-ingredient {
    height: 30px; 
    position: relative;
    left: 70px;
    top: 10px;
    cursor: pointer;
}
.searchedMeal-active {
    transform: scale(1.2);
}

#searchedMeal {
    display: flex;
    flex-direction: column;
}
#searched-Meals {
    /* background-color: aqua; */
    display: flex;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons button {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fbdbc7;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    box-shadow: 5px 5px rgb(63, 63, 63);
}
.searchedMeal-active img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
}

#ingredients{
    overflow:scroll;
    padding: 5px;

}


@media screen and (max-width: 500px){
    #input-box{
        width: 300px;
        padding: 13px;
        margin: 15px auto; 

    }
    #input-box h1 {
        font-size: 40px;
    }
    .random-meal-div {
        width: 250px;
        margin: 15px auto;
        padding: 40px;

    }
    #random-meal-image-div {
        height: 160px;
    }
    #random-meal-image-div img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
    }
    #random-meal-image-div p{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    #random-meal-btn,#random-meal-ingredients-btn {
        padding: 7px;
    }
    #random-meal-ingredients {
        position: absolute;
        top: 40em;
        left: 5em;
        border-radius: 5px;
        transition: 0.4s ease-in-out;
        overflow: scroll;
    }

    #random-meal-ingredients img {
        height: 30px;
    }
    #searchedMeal{
        width: 88%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    #searchedMeal {
        width: 90%;
        margin: 0 auto;
        display: flex;
        background-color: #944b50;
        justify-content: center;
    }
   
    .area-div {
        width: 100px;
    }
}


